CalculordApp/Service References/CalculordServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculordService"
                  targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICalculord_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculord_SetConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConnection" />
  </wsdl:message>
  <wsdl:message name="ICalculord_Calculate_InputMessage">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="ICalculord_Authorize_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="ICalculord_Equals_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Equals" />
  </wsdl:message>
  <wsdl:message name="ICalculord_Reject_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Reject" />
  </wsdl:message>
  <wsdl:message name="ICalculord_GetChumak_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetChumak" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICalculord">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculord/SetConnection"
                  message="tns:ICalculord_SetConnection_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Calculate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculord/Calculate" message="tns:ICalculord_Calculate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Authorize">
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculord/Authorize"
                   message="tns:ICalculord_Authorize_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Equals">
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculord/Equals"
                   message="tns:ICalculord_Equals_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Reject">
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculord/Reject"
                   message="tns:ICalculord_Reject_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetChumak">
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculord/GetChumak"
                   message="tns:ICalculord_GetChumak_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICalculord" type="tns:ICalculord">
    <wsp:PolicyReference URI="#NetTcpBinding_ICalculord_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetConnection">
      <soap12:operation soapAction="http://tempuri.org/ICalculord/SetConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Calculate">
      <soap12:operation soapAction="http://tempuri.org/ICalculord/Calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <soap12:operation soapAction="http://tempuri.org/ICalculord/Authorize" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Equals">
      <soap12:operation soapAction="http://tempuri.org/ICalculord/Equals" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <soap12:operation soapAction="http://tempuri.org/ICalculord/Reject" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChumak">
      <soap12:operation soapAction="http://tempuri.org/ICalculord/GetChumak" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculordService">
    <wsdl:port name="NetTcpBinding_ICalculord" binding="tns:NetTcpBinding_ICalculord">
      <soap12:address location="net.tcp://localhost:8777/CalculordService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8777/CalculordService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Алина-ПК\Алина</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>